<div class="login-content">
    <img  class="welcome" src="/images/welcome.jpg" alt="">
    <div class="container">
        <div class="logo"></div>
        <div class="logoName">Log-in</div>
        <div class="inputs">
            <label>Email</label>
            <input type="text" placeholder="Enter your email">
            <label>Password</label>
            <input type="password" placeholder="Maximum 6 char">
            <label class="forgot-password-label"><input class="check" type="checkbox" [(ngModel)]="showForgotPassword"  />Forgot Password?</label>
            <button>Log In</button>
        </div>
    </div>
</div>
<div *ngIf="showForgotPassword" class="forgot-password">
    <h2>Forgot Your Password?</h2>
    <p>Please enter your registered email below, and we’ll send you password reset instructions.</p>
    <input type="email" placeholder="Enter your registered email" />
    <button>Submit</button>
</div>

<footer class="unique-footer">
    <div class="footer-container">
        <!-- About Section -->
        <div class="footer-section about">
            <h2 class="footer-logo">E-Learning</h2>
            <p>Learn at your pace, Anywhere, Anytime, Any place, Empowering minds, unlocking fate, Education refined</p>
            <div class="social-icons">
                <a href="#"><img src="/images/facebook.png" alt="" class="imf"></a>
                <!-- <i class="fab fa-facebook-f"></i> -->
                <a href="#"><img src="/images/insta.png" alt=""class="imi"></a>
                <a href="#"><img src="/images/linkedin.png" alt="" class="iml"></a>
                <a href="#"><img src="/images/youtube.png" alt="" class="imy"></a>
            </div>
        </div>

        <!-- Quick Links Section -->
        <div class="footer-section links">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a>
                <a href="#">Registration</a>
                <a href="#">Courses</a></li>
                <li><a href="#">About Us</a>
                <a href="#">Contact</a>
                <a href="#">Admin</a></li>
            </ul>
        </div>

        <!-- Contact Section -->
        <div class="footer-section contact-form">
            <h3>Contact US</h3>
            <p>+91 9876543210</p>
            <p>elearn&#64;gmail.com</p>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <p>&copy; 2024 E-Learning. All rights reserved.</p>
    </div>
</footer>