    <!-- Registration Form -->
    <div class="form__container">
      <form id="registrationForm">
        <h2>CREATE AN ACCOUNT</h2>
        <input type="text" id="fullname" placeholder="Full Name" required />
        <input type="password" id="password" placeholder="Password" required />
        <input type="text" id="address" placeholder="Address" required />
        <input type="email" id="email" placeholder="Email ID" required />
        <input type="tel" id="phone" placeholder="Phone No" required />
        <input type="date" id="date" required />
        <label for="cars">Choose your role <select name="role" id="role">
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select></label>
        <input  type="submit" value="Submit" />
      </form>
      <img class="sign-img" src="/images/sign-in.jpg" alt="signin">
    </div>
  
    
 <footer class="unique-footer">
    <div class="footer-container">
        <!-- About Section -->
        <div class="footer-section about">
            <h2 class="footer-logo">E-Learning</h2>
            <p>Learn at your pace, Anywhere, Anytime, Any place, Empowering minds, unlocking fate, Education refined</p>
            <div class="social-icons">
                <a href="#"><img src="/images/facebook.png" alt="" class="imf"></a>
                <!-- <i class="fab fa-facebook-f"></i> -->
                <a href="#"><img src="/images/insta.png" alt=""class="imi"></a>
                <a href="#"><img src="/images/linkedin.png" alt="" class="iml"></a>
                <a href="#"><img src="/images/youtube.png" alt="" class="imy"></a>
            </div>
        </div>

        <!-- Quick Links Section -->
        <div class="footer-section links">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a>
                <a href="#">Registration</a>
                <a href="#">Courses</a></li>
                <li><a href="#">About Us</a>
                <a href="#">Contact</a>
                <a href="#">Admin</a></li>
            </ul>
        </div>
        <!-- Contact Section -->
        <div class="footer-section contact-form">
            <h3>Contact US</h3>
            <p>+91 9876543210</p>
            <p>elearn&#64;gmail.com</p>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <p>&copy; 2024 E-Learning. All rights reserved.</p>
    </div>
</footer>